<h4 class="btn-flat cyan accent-4 white-text"><i class="fa fa-users" aria-hidden="true"></i>&nbsp;&nbsp;Cohorts</h4>
<br>
<div class="collection">
  <% @cohorts.each do |cohort| %>
    <a href="/cohorts/<%= cohort.name %>" class="collection-item"><%= cohort.name %></a>
  <% end %>
</div>