<div class="row">
  <h4><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;&nbsp;Log In</h4>

  <form action="/login" method="post" class="col s7">
    <div class="row">
      <div class="input-field col s7">
        <input id="username" type="text" name="user[username]" class="validate">
        <label for="username">Username</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s7">
        <input id="password" type="password" name="user[password]" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <button type="submit" class="waves-effect waves-light btn-small cyan accent-4">Log In</button>
  </form>
  <div class="col s5">
    <img style="height: 300px; width: 500px;" src="/images/login.svg" alt="">
  </div>
</div>