<h4>Projects List</h4>
<br>
<div class="collection">
  <% @projects.each do |project| %>
    <a href="/projects/<%= project.id %>" class="collection-item"><%= project.name %></a>
  <% end %>
</div>

<br><br>
<a href="/projects/new" class="waves-effect waves-light btn cyan accent-4">Create New Project</a>