<div class="row">
  <div class="col s6">
    <% if logged_in? %>
      <h2>Welcome to FlatironHub,</h2>
      <h3 class="btn-flat btn-large cyan accent-4 white-text"><i class="fa fa-id-badge" aria-hidden="true" style="vertical-align: middle;"></i>&nbsp;&nbsp;<%= current_user[:first_name] %> <%= current_user[:last_name] %>!</h3>
    <% else %>
      <h2>Welcome to FlatironHub!</h2>
      <br><br>
      <a href="/login" class="waves-effect waves-light btn-small cyan accent-4">Log In</a>
      &nbsp;&nbsp;
      <a href="/signup" class="waves-effect waves-light btn-small cyan accent-4">Sign Up</a>
    <% end %>
  </div>
  <div class="col s6">
    <img style="height: 500px; width: 550px;" src="/images/dashboard.svg" alt="">
  </div>
</div>